<p id="notice"><%= notice %></p>

<h1>Generate Appointments</h1>

<table>
  <thead>
    <tr>      
      <th>Doctor Name</th>
      <th>Patient Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @generate_appointments.each do |generate_appointment| %>
      <tr>
        <td><%= generate_appointment.doctor.name %></td>
        <td><%= generate_appointment.patient.name %></td>
        <td><%= link_to 'Show', generate_appointments_path %></td>
        <td><%= link_to 'Edit', edit_generate_appointment_path(generate_appointment) %></td>
        <td><%= link_to 'Destroy', generate_appointments_path, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Generate Appointment', new_generate_appointment_path %>
